/* v.0.15.7 */

@media(min-width: 1367px){
    .navbar .logo img{
        width: 260px;
    }
    .navbar .city,
    .navbar .menu_lk{
        padding-top: 35px;
    }


    .content .intro .topLine{
        margin-top: 10vh;
        margin-bottom: 15vh;
    }
    .content .intro h1{
        font-size: 50px;
    }
    .content .intro h2{
        font-size: 30px;
    }
    .content .intro .sections img{
        width: 100px;
    }
    .content.intro .lead-magnet{
        padding: 100px 0;
    }
    .content.intro .plus .plus-item .text{
        font-size: 20px;
    }
}

@media(max-width: 767px){
    h1{
        font-size: 24px;
    }

    h2{
        padding: 30px 0;
        font-size: 20px;
    }

    h2 .big{
        font-size: 20px;
    }

    h3{
        font-size: 17px;
    }

    .navbar{
        padding: 30px 15px;
    }

    .navbar .logo img{
        width: 150px;
    }

    .navbar .city svg{
        margin-right: 4px;
    }

    .modal{
        padding: 20px 30px;
        font-size: 12px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: none;
    }

    .content .container-fluid{
        padding: 30px 30px;
    }

    .wrapper{
        padding-left: 0;
    }

    footer .container-fluid{
        padding: 0 30px;
        text-align: center;
    }

    footer .contact{
        text-align: center;
    }

    /* Главная */
    .content .intro{
        height: auto;
    }

    .content .intro .eventAdv .date{
        position: relative;
        right: auto;
        transform: none;
        font-size: 20px;
        margin-top: 10px;
    }

    .intro-wrapper .plus .plus-item .text{
        padding: 20px;
        font-size: 12px;
    }

    /*Лендинг*/
    .lending-wrapper .lending-intro{
        height: auto;
        background: url(/public/img/lending/background-intensiv.png) no-repeat center 5vh/cover;;
    }

    .lending-wrapper .lending-intro .top{
        text-align: center;
    }

    .lending-wrapper .lending-intro .lending-intro-content{
        padding-top: 0;
    }

    .lending-wrapper .lending-intro h1{
        font-size: 24px;
        padding: 0 40px;
    }

    .lending-wrapper .lending-intro h1::before,
    .lending-wrapper .lending-intro h1::after{
        width: 60px;
        height: 50px;
    }

    .lending-wrapper .lending-intro .description-text{
        font-size: 20px;
        padding: 0 40px;
    }

    .lending-wrapper .who .list{
        position: relative;
        margin: 0 -30px;
        padding: 0 30px;
    }

    .lending-wrapper .invest{
        text-align: left;
    }

    .lending-wrapper .invest .invest-content{
        font-size: 14px;
        margin: 0 -30px;
        padding: 25px 30px;
    }

    .lending-wrapper .request-block .button button::before,
    .lending-wrapper .request-block .button button::after{
        width: 70px;
    }

    .lending-wrapper .contact .logo{
        float: none;
    }

    .lending-wrapper .contact .contact-info{
        float: none;
    }
}